/* Mulish font from google  */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
}

p {
  color: #5a5a5d;
  font-size: 1rem;
  line-height: 26px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #424247;
  font-size: 18px;
}
