/* Mulish font from google  */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #131318;
  font-weight: 800;
  line-height: 60px;
}

p {
  color: #5a5a5d;
  font-size: 1rem;
  line-height: 26px;
  margin-bottom: 20px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #424247;
  font-size: 18px;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.btn_primary {
  border: none;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  padding: 10px 20px;
  cursor: pointer;
}

/* Header area style */

.container {
  max-width: 1490px;
  margin: 0 auto;
}

.header {
  width: 80%;
  margin: 20px auto 0px;
}

.navigation_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_area {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.logo img {
  display: block;
}

.logo_area h3 {
  font-size: 2rem;
}

.logo_area h3 span {
  color: #ff5400;
}

.menu_area {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.mobile_menu {
  border: none;
  cursor: pointer;
  display: none;
}

.menu_area button i {
  font-size: 1.25rem;
  padding: 5px;
  color: #000;
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.banner_area {
  background-image: url("Images/banner.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  padding: 70px 0px;
  margin: 80px 0px;
  position: relative;
  z-index: 1;
}

.banner_area::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.3;
  border-radius: 18px;
  z-index: -1;
}

.banner_content_area {
  width: 80%;
  margin: 0 auto;
  padding: 50px;
}

.banner_content {
  width: 87%;
  margin: 0 auto;
}

.section_title {
  font-size: 2.5rem;
  margin-bottom: 25px;
}

.banner_title,
.banner_description {
  color: #fff;
  margin-bottom: 30px;
}

.banner_title {
  font-size: 3rem;
}

.input_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  gap: 20px;
  padding: 16px;
  position: relative;
}

.input_container::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.5;
  border-radius: 10px;
  z-index: -1;
}

.input_item {
  width: 100%;
  border-radius: 8px;
}

.input_item input,
select {
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  background: #fff;
  outline: none;
}

.search {
  width: 100%;
  height: 58px;
  background: #ff5400;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.search h4,
i {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
}

.popular_tour {
  width: 80%;
  margin: 0 auto 40px;
  display: flex;
  gap: 50px;
}

.popular_tour_content {
  flex: 1;
}

.popular_tour_img {
  flex: 1;
}

.list {
  padding-left: 20px;
}

.list_item {
  display: block;
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 15px;
  position: relative;
  padding-left: 10px;
}

.list_item::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  background-color: #000;
  border-radius: 50%;
  left: 0;
  top: 10px;
}

.destination {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
}

.destination_content {
  width: 70%;
  margin: 0 auto;
}

.destination_gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 300px);
  gap: 20px;
}

.destination_gallery > div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.destination_gallery > div h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

.destination_item1 {
  grid-column: 1 / 7;
  background-image: url("Images/Rectangle 5.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.destination_item2 {
  grid-column: 7 / 13;
  background-image: url("Images/Rectangle 8.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.destination_item3 {
  grid-column: 1 / 5;
  background-image: url("Images/Rectangle 6.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.destination_item4 {
  grid-column: 5 / 11;
  background-image: url("Images/Rectangle 7.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.destination_item5 {
  grid-column: 11 / 13;
  background-image: url("Images/Rectangle 9.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.destination_item6 {
  grid-column: 1 / 6;
  background-image: url("Images/Rectangle 11.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.destination_item7 {
  grid-column: 6 / 13;
  background-image: url("Images/Rectangle 10.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.why_chose {
  width: 80%;
  margin: 0 auto 40px;
}

.chose_content {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 35px;
}

.chose_item_container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
}

.chose_item_container img {
  width: 50px;
  height: 50px;
}

.chose_item_container > div {
  padding: 20px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}

.why_chose .chose_item_container .section_title {
  font-size: 1.5rem;
  margin-bottom: 0px;
}

.chose_item_container .item1 {
  grid-column: 1 / 7;
}

.chose_item_container .item2 {
  grid-column: 7 / 13;
  background: rgba(41, 206, 246, 0.05);
}

.chose_item_container .item3 {
  grid-column: 4 / 10;
}

.dicount {
  width: 80%;
  margin: 0 auto 40px;
}

.dicount_conten {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.discount_item_container {
  width: 100%;
}

.discount_item1 {
  width: 100%;
  height: auto;
  background-image: url("Images/Group 39.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 25px;
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}

.discount_item2 {
  width: 100%;
  height: auto;
  background-image: url("Images/Group 40.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 25px;
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
}

.discount_item3 {
  width: 100%;
  height: auto;
  background-image: url("Images/Group 40.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 25px;
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}

.details_box {
  width: 350px;
  padding: 1rem;
  border-radius: 16px;
  position: relative;
  right: 0;
  z-index: 1;
}

.details_box::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  left: 0;
  top: 0;
  border-radius: 16px;
  opacity: 0.8;
  z-index: -1;
  border: 2px solid #fff;
}

.details_title {
  font-size: 24px;
  margin-bottom: -10px;
}

.details_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details_info p {
  display: flex;
  align-items: center;
  margin-bottom: -8px;
}

.details_info img {
  width: 20px;
}

.price {
  color: #ff5400;
  font-size: 20px;
  font-weight: 800;
}

/* Responsive for mobile Device */
@media screen and (max-width: 600px) {
  .menu_area button {
    display: block;
  }

  .menu {
    display: none;
  }

  .logo_area h3 {
    font-size: 1.3rem;
  }

  .logo {
    width: 25px;
  }

  .banner_area {
    padding: 0px;
    margin: 40px 0px;
  }

  .banner_content_area {
    width: 100%;
    padding: 15px;
  }

  .banner_content {
    width: 100%;
    padding: 15px;
  }

  .banner_title {
    font-size: 1.3rem;
    line-height: normal;
    margin-bottom: 15px;
  }

  .input_container {
    grid-template-columns: 1fr;
  }

  .input_item {
    width: 100%;
  }

  .input_item input,
  select {
    padding: 10px 15px;
  }

  .search {
    height: 2.5rem;
  }

  .popular_tour {
    flex-direction: column;
  }

  .btn_primary {
    font-size: 1rem;
  }

  .section_title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .destination_gallery {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 200px);
    gap: 16px;
  }

  .destination_item1 {
    grid-column: 1 / 13;
  }

  .destination_item2 {
    grid-column: 1 / 13;
  }

  .destination_item3 {
    grid-column: 1 / 13;
  }

  .destination_item4 {
    grid-column: 1 / 13;
  }

  .destination_item5 {
    grid-column: 1 / 13;
  }

  .destination_item6 {
    grid-column: 1 / 13;
  }
  .destination_item7 {
    grid-column: 1 / 13;
  }

  .chose_item_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .why_chose .chose_item_container .section_title {
    font-size: 1rem;
  }

  .chose_item_container .item1 {
    grid-column: 1 / 13;
  }

  .chose_item_container .item2 {
    grid-column: 1 / 13;
  }

  .chose_item_container .item3 {
    grid-column: 1 / 13;
  }

  .discount_item1 {
    padding-top: 150px;
    justify-content: center;
  }

  .discount_item2 {
    padding-top: 150px;
    justify-content: center;
  }

  .discount_item3 {
    padding-top: 150px;
    justify-content: center;
  }

  .details_info p {
    font-size: 12px;
  }

  .details_info img {
    width: 12px;
    height: 12px;
  }
}

/* Responsive for medium device */
@media screen and (min-width: 601px) and (max-width: 992px) {
  .menu_area button {
    display: block;
  }

  .menu {
    display: none;
  }

  .logo_area h3 {
    font-size: 1.6rem;
  }

  .logo {
    width: 30px;
  }

  .banner_area {
    padding: 10px;
    margin: 60px 0px;
  }

  .banner_content_area {
    width: 100%;
    padding: 20px;
  }

  .banner_content {
    width: 100%;
    padding: 20px;
  }

  .banner_title {
    font-size: 1.6rem;
    margin-bottom: 20px;
  }

  .input_container {
    grid-template-columns: repeat(2, 1fr);
  }

  .input_item {
    width: 100%;
  }

  .input_item input,
  select {
    padding: 15px 20px;
  }

  .search {
    height: 2.9rem;
  }

  .popular_tour {
    flex-direction: column;
  }

  .section_title {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .btn_primary {
    font-size: 18px;
  }

  .popular_tour_img {
    text-align: center;
  }

  .destination_gallery {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 250px);
    grid-auto-rows: 250px;
    gap: 18px;
  }

  .destination_item1 {
    grid-column: 1 / 7;
  }

  .destination_item2 {
    grid-column: 7 / 13;
  }

  .destination_item3 {
    grid-column: 1 / 7;
  }

  .destination_item4 {
    grid-column: 7 / 13;
  }

  .destination_item5 {
    grid-column: 1 / 7;
  }

  .destination_item6 {
    grid-column: 7 / 13;
  }
  .destination_item7 {
    grid-column: 1 / 7;
  }

  .chose_item_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px;
  }

  .why_chose .chose_item_container .section_title {
    font-size: 1.3rem;
  }

  .chose_item_container .item1 {
    grid-column: 1 / 13;
  }

  .chose_item_container .item2 {
    grid-column: 1 / 13;
  }

  .chose_item_container .item3 {
    grid-column: 1 / 13;
  }

  .discount_item1 {
    padding-top: 150px;
  }

  .discount_item2 {
    padding-top: 150px;
  }

  .discount_item3 {
    padding-top: 150px;
  }
}
